.menu {
  height: 700vh;
}

.mList {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: max-content;
}

.mItem {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.mItem:nth-child(2) {
  background: linear-gradient(to right, transparent, #b141a2);
}

.mItem:nth-child(3) {
  background: linear-gradient(to right, #b141a2, #260622);
}

.mItem:nth-child(4) {
  background: linear-gradient(to right, #260622, #02222e);
}

.mItem:nth-child(5) {
  background: linear-gradient(to right, #02222e, #12071f);
}

.mItem:nth-child(6) {
  background: linear-gradient(to right, #12071f, #260622);
}

.mItem:nth-child(7) {
  background: linear-gradient(to right, #260622, transparent);
}

.mProgress {
  position: sticky;
  left: 0;
  bottom: 85%;
  width: 65px;
  height: 65px;
}

.pImg {
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
}

.pImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pText {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pText h1 {
  font-size: 56px;
  width: max-content;
  display: flex;
  gap: 10px;
  align-items: center;
  letter-spacing: 1.5px;
}

.badge p {
  font-size: 10px;
}

.pText p {
  font-weight: 300;
}

.menuItemsType {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.badge {
  background-color: var(--bgPrimary);
  color: white;
  padding: 8px 10px;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: max-content;
  height: 135px;
  transform: rotate(-40deg);
}

.menuTypeLabel {
  padding: 5px 6px;
  width: max-content;
  color: var(--bgPrimary);
  border-radius: 5px;
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.2s;
}

.menuTypeLabel:hover {
  transform: scale(1.2);
}

.veg {
  background-color: lightgreen;
}

.nonVeg {
  background-color: lightsalmon;
}

@media (max-width: 1115px) {
  .mItem {
    gap: 50px;
  }
}

@media (max-width: 1024px) {
  .pText h1 {
    font-size: 48px;
    letter-spacing: 0.1px;
  }

  .pText p {
    font-size: 15px;
  }

  .badge p {
    font-size: 8px;
  }
  .badge {
    height: 115px;
  }
}

@media (max-width: 864px) {
  .mItem {
    flex-direction: column;
    padding: 25px 0;
  }

  .pText h1 {
    font-size: 30px;
    letter-spacing: 0.1px;
  }

  .pText p {
    font-size: 13px;
  }

  .badge {
    height: 85px;
    transform: rotate(0deg);
  }

  .badge span {
    font-size: 30px;
    font-weight: 500px;
  }

  .pImg,
  .pText {
    width: 70%;
  }

  .mProgress {
    left: 100%;
    bottom: 20%;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 474px) {
  .pImg {
    display: none;
  }

  .pText {
    height: 100%;
  }

  .mProgress {
    left: 100%;
    bottom: 20%;
  }
}

@media (max-width: 321px) {
  .badge {
    display: none;
  }
  .mProgress {
    width: 20px;
    height: 20px;
  }
}
