* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

:root {
  --primaryColor: #1877f2;
  --secondaryColor: #1877f2;
  --bgPrimary: #02222e;
  --bgSecondary: #0f340a;
  --letterColor1: #dbc1ac;
  --letterColor2:  #1877f2;
}

body {
  background: linear-gradient(to bottom, var(--bgPrimary), var(--bgSecondary));
  font-family: "Montserrat", sans-serif;
  color: var(--letterColor1);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color:var(--letterColor1);
}

 ::-webkit-scrollbar { 
 height: 0px; /* Chrome, Safari */
 display: none; /* Hide scrollbar */
} 

.container {
  padding-left: 5px;
  padding-right: 5px;
  left: 0;
  right: 0;
  margin: auto;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

section:nth-child(1) {
  width: 100vw;
}


@media (min-width: 330px) {
  .container {
    max-width: 330px;
    padding-left: 10px;
  }
}

@media (min-width: 477px) {
  .container {
    max-width: 477px;
    padding-left: 15px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 50px;
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
